ion-toolbar {
  /*--background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);*/
  --background: white;
}

.dopa-do{
  color: red;
}
.dopa-think{
  color: orange;
}

/*关闭 菜单点击特效*/
.ios,
.md,
.wp {
    .disable-ripple ion-tab-effect {
       display: none;
    }
}

.myShadow{
  -webkit-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.48);
  box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.48);
}