ion-toolbar {
  /*--background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);*/
  --background: white;
}

.dopa-do{
  color: red;
}
.dopa-think{
  color: orange;
}

/*关闭 菜单点击特效*/
.ios,
.md,
.wp {
    .disable-ripple ion-tab-effect {
       display: none;
    }
}
